<p id="notice"><%= notice %></p>

<h1>
  <%= @server.name %>
  <span>
    <%= @server.server_and_port %>
  </span>
</h1>
<p>
  <%= @server.description %>
</p>
<p class="actions">
  <%= link_to 'Volver al Listado de Servidores', servers_path %> |
  <%= link_to 'Editar Servidor', edit_server_path(@server) %>
</p>

<% unless @server.checks.empty? %>
<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Resultado</th>
    </tr>
  </thead>
  <tbody>
    <% @server.checks.each do |check| %>
    <tr>
      <td><%= check.created_at %></td>
      <td><%= check.result %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>